.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}

.countryList::-webkit-scrollbar {
  width: 10px;
}
.countryList::-webkit-scrollbar-track {
  background-color: rgb(255, 0, 0);
}
.countryList::-webkit-scrollbar-thumb {
  background-color: rgb(15, 7, 61);
  box-shadow: inset 0 0 6px rgba(21, 8, 77, 0.925);
}
