.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  /* height: 100%; */
}
.logo {
  height: 4.2rem;
}

.logoText {
  text-decoration: none;
  color: rgb(10, 235, 21);
  color: rgb(252, 243, 255);
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}
