.cityItem,
.cityItem:link,
.cityItem:visited {
  display: grid;
  grid-template-columns: min-content 1fr 0.7fr min-content;
  gap: 1.6rem;
  align-items: center;

  /* background-color: #f3f4f6; */
  background-color: #e2e8f0;
  background-color: #eebafe;
  background-color: #f2c8ff;
  border-radius: 4px;
  padding: 1rem 1rem 2rem 2rem;
  border-left: 5px solid rgba(57, 19, 194, 0.8);
  border-left: 5px solid rgba(83, 36, 250, 0.8);
  box-shadow: 0 4rem 4rem rgba(216, 216, 216, 0.2);
  box-shadow: rgba(184, 184, 201, 0.2) 0px 7px 29px 0px;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
}

/* .cityItem:hover {
  background-color: #f3ecec;
} */

.cityItem.cityItem--active {
  border: 2px solid rgba(57, 19, 194, 0.8);
  border-left: 5px solid rgba(57, 19, 194, 0.8);
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}
.image {
  height: 10rem;
  border-radius: 4px;
}

.expense {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
}
.desc {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.name {
  font-size: 1.7rem;
  font-weight: 600;
  /* margin-bottom: 0.6rem; */
  margin-right: auto;
  text-transform: capitalize;
  /* background-color: #e2e8f0; */
  border-radius: 2px;
  padding: 0.2rem 0;
  box-shadow: 0 3rem 6rem rgba(247, 238, 238, 0.03);
  /* background-color: #f0c4fd; */
  width: max-content;
}

.tags {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.tags .speciality {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(57, 19, 194);
  text-transform: uppercase;
}
.tags span {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: rgba(174, 158, 236, 0.8);
  color: rgb(22, 18, 18);
  padding: 0.2rem 0.8rem;
  border-radius: 3px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.rating {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.4rem;
}
.rating span {
  font-weight: 500;
}
.date {
  font-size: 1.4rem;
  font-weight: 500;
}
.other {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.other p {
  font-size: 1.6rem;
}
.other p span {
  font-weight: 600;
}
.operationsPanel {
  position: relative;
  align-self: start;
}
.deleteBtn {
  height: 2rem;
  width: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
  justify-items: end;
  /* aspect-ratio: 1; */
  border-radius: 2px;
  border: none;
  background-color: #241655;
  color: #eeeeee;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 9;
}

.deleteBtn:hover {
  background-color: rgb(255, 230, 220);
  color: var(--color-dark--1);
}
