.stepper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #101d48;
  max-width: 500px;
  margin: 10px auto;
  padding: 2rem;
  font-size: 16px;
}

.step {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #e57373;
  padding: 2rem;
}
.step .step__description,
.step .controllers {
  display: none;
}

.active {
  background-color: purple;
}

.step.active.openDesc .step__description,
.step.active.openDesc .controllers {
  display: block;
}

.step.active .step__description,
.step.active .controllers {
  display: none;
}
